// Default browser styles reset
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
a{
  text-decoration: none;
  color: #000;
}
blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }
*{
  box-sizing: border-box;
}
@font-face {
  font-family: 'liberation_sansregular';
  src: url('font/LiberationSans-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #242424;
  height: 100vh;
  overflow: hidden;
  font-family: 'Liberation_sansregular';
}

#app{
  position: relative;
  .bg-left {
    background: url("img/bg-left.png") no-repeat;
    width: 900px;
    height: 700px;
    background-size: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    animation: scale 5s;
    @keyframes scale {
      from {
        background-size: 80%;
      }
      to {
        background-size: 100%;
      }
    }
  }
  .bg-right {
    background: url("img/bg-right.png") no-repeat;
    width: 994px;
    height: 271px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    animation: move-left 5s;
    @keyframes move-left  {
      0% {
        bottom: -40%;
        right: -40%;
      }
      100% {
        bottom: 0;
        right: 0;
      }
    }
  }
}
.container{
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 100vh;
  #main-content {
    align-self: center;
    width: 65%;
    h1{
      color: #FFFFFF;
      font-size: 45px;
      text-align: right;
      padding: 0 125px 50px 0;
      letter-spacing: 1px;
    }
    .boxes {
      height: 65vh;
      display: flex;
    }
  }
}
.box--left {
  width: 40%;
  background: url("./img/box-left.png")  bottom center/cover no-repeat;
  height: 100%;
  position: relative;
  .lines{
    background-color: rgba(26, 26, 26, 0.85);
    position: absolute;
    width: 100%;
    height: 100%;
    svg {
      height: 100%;
      width: 100%;
      stroke-width: 2;
      line{
        stroke-dasharray: 400;
        stroke-dashoffset: 400;
        animation: slide 2s forwards;
        -ms-animation: slide 2s forwards;
        @keyframes slide {
          to {
            stroke-dashoffset: 0;
          }
        }
      }
    }
  }
}
.green {
  stroke: #1CD4A3;
}
.purple {
  stroke: #531FC0;
}
.white {
  stroke: #FFFFFF;
}
.box--right {
  width: 60%;
  height: 100%;
  background-color: #F9F9FB;
}



.radioBtn {
  width: 44px;
  height: 44px;
  position: relative;
  margin: 20px auto;
  background: #fff;
  border: 2px solid #DDDDE2;
  .male{
    background: url("./img/male.png");
  }
  &:checked{
  border: 2px solid #1CD4A3;
  }
  label {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 11px;
    right: -9px;
    cursor: pointer;
    background: #FFF;
    border: 2px solid #DDDDE2;
    &:after {
      content: '';
      width: 3px;
      height: 3px;
      position: absolute;
      top: 5px;
      left: 5px;
      background: #1CD4A3;
      opacity: 0;
    }
    &:hover::after {
      opacity: 0.3;
    }
  }
  input[type=radio] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }
    &:checked + label{
      border: 2px solid #1CD4A3;
    }
  }
}