// Default browser styles reset
$grey: #c1c1c6;
$lightGrey: #d9d9df;
$purple: #531FC0;
$green: #1CD4A3;
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
input{
  border-radius: 0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0; /* Removes leftover margin */
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $lightGrey;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $lightGrey;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $lightGrey;
}
:-moz-placeholder { /* Firefox 18- */
  color: $lightGrey;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
a{
  text-decoration: none;
  color: #000;
}
blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }
*{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
  font-family: 'liberation_sansregular';
  src: url('font/LiberationSans-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #242424;
  height: 100vh;
  overflow: hidden;
  font-family: 'Liberation_sansregular';
}

#app{
  position: relative;
  .bg-left {
    background: url("img/bg-left.png") no-repeat;
    width: 900px;
    height: 700px;
    background-size: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-animation: scale 5s;
    animation: scale 5s;
    @-webkit-keyframes scale {
      from {
        background-size: 80%;
      }
      to {
        background-size: 100%;
      }
    }
    @keyframes scale {
      from {
        background-size: 80%;
      }
      to {
        background-size: 100%;
      }
    }
  }
  .bg-right {
    background: url("img/bg-right.png") no-repeat;
    width: 994px;
    height: 271px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    -webkit-animation: move-left 5s;
    animation: move-left 5s;
    @-webkit-keyframes move-left  {
      0% {
        bottom: -40%;
        right: -40%;
      }
      100% {
        bottom: 0;
        right: 0;
      }
    }
    @keyframes move-left  {
      0% {
        bottom: -40%;
        right: -40%;
      }
      100% {
        bottom: 0;
        right: 0;
      }
    }
  }
}
.container{
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
  #main-content {
    -ms-flex-item-align: center;
    align-self: center;
    width: 60%;
    position: relative;
    h1{
      color: #FFFFFF;
      font-size: 45px;
      text-align: right;
      padding: 0 125px 50px 0;
      letter-spacing: 1px;
    }
    .boxes {
      height: 552px;
      min-height: 552px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 25px;
    }
  }
}
.box-left {
  overflow: hidden;
  width: 40%;
  .box-left--animate{
    background: url("./img/box-left.png")  bottom center/cover no-repeat;
    position: relative;
    right: 0;
    height: 100%;
    width: 100%;
    -webkit-animation: slide-right 1s;
    animation: slide-right 1s;
    @-webkit-keyframes slide-right {
      from {
        right: -100%;
      }
      to {
        right: 0;
      }
    }
    @keyframes slide-right {
      from {
        right: -100%;
      }
      to {
        right: 0;
      }
    }
  }
  .lines{
    background-color: rgba(26, 26, 26, 0.85);
    position: absolute;
    width: 100%;
    height: 100%;
    svg {
      height: 100%;
      width: 100%;
      stroke-width: 2;
      line{
        stroke-dasharray: 400;
        stroke-dashoffset: 400;
        -webkit-animation: slide 2s 0.5s forwards;
        animation: slide 2s 0.5s forwards;
        @-webkit-keyframes slide {
          to {
            stroke-dashoffset: 0;
          }
        }
        @keyframes slide {
          to {
            stroke-dashoffset: 0;
          }
        }
      }
    }
  }
}
.green {
  stroke: $green;
}
.purple {
  stroke: $purple;
}
.white {
  stroke: #FFFFFF;
}
.box-right {
  overflow: hidden;
  font-size: 14px;
  width: 60%;
  .box-right--animate{
    background-color: #fbfbfd;
    width: 100%;
    height: 100%;
    left: 0;
    position: relative;
    -webkit-animation: slide-left 1s;
    animation: slide-left 1s;
    @-webkit-keyframes slide-left {
      from {
        left: -100%;
      }
      to {
        left: 0;
      }
    }
    @keyframes slide-left {
      from {
        left: -100%;
      }
      to {
        left: 0;
      }
    }
  }
  h2{
    width: 85%;
    padding: 50px 50px 0 50px;
    white-space: nowrap;
  }
  form {
    padding: 50px;
    .label--style {
      color: $grey;
      font-size: 11px;
      padding-left: 15px;
    }
    input, select {
      border: none;
      margin-bottom: 25px;
      border-bottom: 2px solid $grey;
      outline: none;
      background-color: transparent;
      padding: 10px 0 20px 15px;
      font-size: 16px;
      &:focus {
        border-color: $purple;
      }
    }
    select {
      border-radius: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      padding: 20px 15px 20px 15px;
    }
    #name{
      width: 100%;
    }
    #code{
      width: 35%;
    }
    #phone{
      width: 60%;
      margin-left: 3%;
    }
    .arrow {
      position: relative;
      &:after {
        content: '';
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid $grey;
        position: absolute;
        top: 300%;
        right: -120%;
      }
    }
  }
}
form {
  .radioBtn {
    width: 47px;
    height: 47px;
    position: relative;
    border: 2px solid $grey;
    display: inline-block;
    margin: 15px 30px 25px 0;
    &:checked {
      border: 2px solid #1CD4A3;
    }
    label {
      width: 14px;
      height: 14px;
      position: absolute;
      top: 15px;
      right: -8px;
      cursor: pointer;
      background: #FFF;
      border: 2px solid $grey;
      padding: 0;
      &:after {
        content: '';
        width: 3px;
        height: 3px;
        position: absolute;
        top: 4px;
        left: 4px;
        background: $green;
        opacity: 0;
      }
      &:hover::after {
        opacity: 0.3;
      }
    }
    input[type=radio] {
      visibility: hidden;
      &:checked + label:after {
        opacity: 1;
      }
      &:checked + label {
        border: 2px solid $green;
      }
    }
  }
  .male {
    background: url("./img/male.png") #FFFFFF no-repeat;
  }
  .female {
    background: url("./img/female.png") #FFFFFF no-repeat;
  }
}
form {
  #day, #month, #year {
    height: 47px;
    border: 2px solid $grey;
    padding: 0;
    text-align: center;
    margin-top: 15px;
  }
  #day {
    width: 13%;
  }
  #day,#month{
    margin-right: 5.5%;
  }
  #month, #year {
    width: 36%;
  }
}
#submit-btn{
  color: #FFFFFF;
  background: $purple;
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(157,89,235,1)), color-stop(20%, rgba(148,89,235,1)), color-stop(57%, rgba(128,72,232,1)), color-stop(71%, rgba(121,70,233,1)), color-stop(100%, rgba(111,56,231,1)));
  background: -ms-linear-gradient(left, rgba(157,89,235,1) 0%, rgba(148,89,235,1) 20%, rgba(128,72,232,1) 57%, rgba(121,70,233,1) 71%, rgba(111,56,231,1) 100%);
  position: absolute;
  right: -36px;
  bottom: 0;
  height: 50px;
  width: 235px;
  border: none;
  line-height: 50px;
  padding: 0;
  #btn-arrow{
    height: 50px;
    width: 50px;
    background-color: #7841F4;
    display: block;
    float: right;
    -webkit-transition: background 2s;
    transition: background 2s;
  }
  &:hover #btn-arrow{
    background: $green;
  }
}