// Default browser styles reset
$grey: #c1c1c6;
$lightGrey: #d9d9df;
$purple: #531FC0;
$green: #1CD4A3;
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
input{
  border-radius: 0;
}
legend{
  white-space: nowrap;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0; /* Removes leftover margin */
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $lightGrey;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $lightGrey;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $lightGrey;
}
:-moz-placeholder { /* Firefox 18- */
  color: $lightGrey;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
a{
  text-decoration: none;
  color: #000;
}
blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }
*{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
  font-family: 'liberation_sansregular';
  src: url('font/LiberationSans-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #242424;
  height: 100vh;
  overflow: hidden;
  font-family: 'Liberation_sansregular';
}

#app{
  position: relative;
  .bg-left {
    background: url("img/bg-left.png") no-repeat;
    width: 900px;
    height: 700px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-animation: scale 5s;
    animation: scale 5s;
    animation-fill-mode: forwards;
  }
  .bg-right {
    background: url("img/bg-right.png") no-repeat;
    width: 994px;
    height: 271px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    -webkit-animation: move-left 3s;
    animation: move-left 3s;
  }
}
.container{
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
  #main-content {
    -ms-flex-item-align: center;
    align-self: center;
    width: 60%;
    h1{
      color: #FFFFFF;
      font-size: 45px;
      text-align: right;
      padding: 0 125px 40px 0;
      letter-spacing: 1px;
    }
    .boxes {
      height: 552px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 25px;
      position: relative;
      &:after{
        content: '';
        position: absolute;
        top: -1px;
        height: 2px;
        width: 70px;
        right: 45%;
        background-color: #1BFEC0;
      }
    }
  }
}
.box-left {
  overflow: hidden;
  width: 40%;
  height: 100%;
  .box-left--animate{
    background: url("./img/box-left.png")  bottom center/cover no-repeat;
    position: relative;
    right: 0;
    width: 100%;
    height: 100%;
    -webkit-animation: slide-right 1s;
    animation: slide-right 1s;
  }
  .lines{
    background-color: rgba(26, 26, 26, 0.85);
    position: absolute;
    width: 100%;
    height: 100%;
    svg {
      height: 100%;
      width: 100%;
      stroke-width: 2;
      line{
        stroke-dasharray: 400;
        stroke-dashoffset: 400;
        -webkit-animation: slide 2s 0.5s forwards;
        animation: slide 2s 0.5s forwards;
      }
    }
  }
}
.green {
  stroke: $green;
}
.purple {
  stroke: $purple;
}
.white {
  stroke: #FFFFFF;
}
.box-right {
  overflow: hidden;
  font-size: 14px;
  width: 60%;
  height: 100%;
  .box-right--animate{
    background-color: #fbfbfd;
    width: 100%;
    height: 100%;
    left: 0;
    position: relative;
    -webkit-animation: slide-left 1s;
    animation: slide-left 1s;
  }
  h2{
    width: 85%;
    padding: 13% 13% 0 13%;
  }
  form {
    padding: 13%;
    .label--style {
      color: $grey;
      font-size: 11px;
      padding-left: 5%;
    }
    input, select {
      border: none;
      margin-bottom: 5%;
      border-bottom: 2px solid $grey;
      outline: none;
      background-color: transparent;
      padding: 3% 0 5% 5%;
      font-size: 16px;
      &:focus {
        border-color: $purple;
      }
    }
    select {
      border-radius: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      padding: 3% 3% 5% 3%;
    }
    #name{
      width: 100%;
    }
    #code{
      width: 35%;
    }
    #phone{
      width: 60%;
      float: right;
    }
    .arrow {
      position: relative;
      &:after {
        content: '';
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid $grey;
        position: absolute;
        top: 40%;
        right: 5px;
      }
    }
  }
}
form {
  .radioBtn {
    width: 47px;
    height: 47px;
    position: relative;
    border: 2px solid $grey;
    display: inline-block;
    margin: 3% 9% 5% 0;
    label {
      width: 14px;
      height: 14px;
      position: absolute;
      top: 15px;
      right: -8px;
      cursor: pointer;
      background: #FFF;
      border: 2px solid $grey;
      padding: 0;
      &:after {
        content: '';
        width: 3px;
        height: 3px;
        position: absolute;
        top: 4px;
        left: 4px;
        background: $green;
        opacity: 0;
      }
      &:hover::after {
        opacity: 0.3;
      }
    }
    input[type=radio] {
      visibility: hidden;
      &:checked + label:after {
        opacity: 1;
      }
      &:checked + label {
        border: 2px solid $green;
      }
    }
  }
  .male {
    background: url("./img/male.png") #FFFFFF no-repeat;
  }
  .female {
    background: url("./img/female.png") #FFFFFF no-repeat;
  }
}
form {
  #birth-info{
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    span{
      align-self: center;
      transform: scale(3,1);
      color: $grey;
    }
    option{
      padding-left: 20px;
    }
    #day, #month, #year {
      height: 47px;
      border: 2px solid $grey;
      padding: 0 0 0 5%;
      margin-bottom: 0;
    }
    #day {
      width: 47px;
      text-align: center;
      padding: 2%;
    }
    #month, #year{
      width: 33%;
    }
  }
}

.submit-btn{
  color: #FFFFFF;
  background: rgba(168,117,235,1);
  background: -moz-linear-gradient(left, rgba(168,117,235,1) 0%, rgba(148,89,235,1) 21%, rgba(130,53,230,1) 52%, rgba(124,53,230,1) 74%, rgba(108,51,231,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(168,117,235,1)), color-stop(21%, rgba(148,89,235,1)), color-stop(52%, rgba(130,53,230,1)), color-stop(74%, rgba(124,53,230,1)), color-stop(100%, rgba(108,51,231,1)));
  background: -webkit-linear-gradient(left, rgba(168,117,235,1) 0%, rgba(148,89,235,1) 21%, rgba(130,53,230,1) 52%, rgba(124,53,230,1) 74%, rgba(108,51,231,1) 100%);
  background: -o-linear-gradient(left, rgba(168,117,235,1) 0%, rgba(148,89,235,1) 21%, rgba(130,53,230,1) 52%, rgba(124,53,230,1) 74%, rgba(108,51,231,1) 100%);
  background: -ms-linear-gradient(left, rgba(168,117,235,1) 0%, rgba(148,89,235,1) 21%, rgba(130,53,230,1) 52%, rgba(124,53,230,1) 74%, rgba(108,51,231,1) 100%);
  position: absolute;
  right: -50px;
  bottom: -25px;
  height: 50px;
  width: 236px;
  border: none;
  line-height: 50px;
  padding: 0;
  overflow: hidden;
  outline: none;
  #btn-arrow{
    height: 50px;
    width: 50px;
    background-color: #7841F4;
    display: block;
    float: right;
    -webkit-transition: background 2s;
    transition: background 2s;
  }
  &:hover #btn-arrow{
    background: $green;
  }
}
.btn-animation {
  -webkit-animation: slide-btn 1s;
  animation: slide-btn 1s;
}

#form-steps{
  position: absolute;
  width: 25px;
  height: 200px;
  right: -25px;
  top: 30%;
  .step{
    height: 85px;
    color: #555555;
    padding: 10px;
    font-size: 12px;
    border-top: 2px solid #555555;
    width: 100%;
    display: block;
    -webkit-animation: show 2s;
    opacity: 0;
    animation: show 2s 1s;
    animation-fill-mode: forwards;
    &:nth-child(2){
      border-top: 2px solid $green;
      color: #FFFFFF;
    }
  }
}
#error,#success {
  display: none;
}
#error.message, #success.message {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 60%;
  height: 50%;
  text-align: center;
  background-color: #FFFFFf;
  border: 10px solid $green;
  display: flex;
  justify-content: center;
  .submit-btn {
    right: 50%;
    transform: translateX(50%);
    width: 40%;
  }
  div{
    align-self: center;
    p{
      margin: 2%;
      color: $purple;
    }
  }
}

// media queries
@media screen and (max-width: 768px) {
  #app {
      .bg-left {
        background: url("./img/bg-left-mobile.png") no-repeat;
        background-size: 100%;
        width: 100%;
        height: 550px;
        animation: show 3s;
      }
      .bg-right {
        background: url("./img/bg-right-mobile.png") no-repeat;
        width: 318px;
        height: 110px;
      }
  }
  .hide-xs {
    display: none;
  }
  .container{
    #main-content{
      width: 100%;
      height: 100%;
      h1{
        font-size: 30px;
        padding: 10% 0 10% 0;
        text-align: center;
      }
      .boxes{
        &:after {
          right: 65%;
        }
        height: 77vh;
        .box-right{
          width: 100%;
          height: 77vh;
          .box-right--animate {
            animation: slide-left paused;
          }
          h2{
            font-size: 15px;
            width: 100%;
            padding: 10%;
          }
          form{
            padding: 5%;
          }
        }
      }

    }
    .submit-btn{
      right: 50%;
      transform: translateX(50%);
    }
  }
}

// keyframes

@-webkit-keyframes move-left  {
  0% {
    bottom: -40%;
    right: -40%;
  }
  100% {
    bottom: 0;
    right: 0;
  }
}
@keyframes move-left  {
  0% {
    bottom: -40%;
    right: -40%;
  }
  100% {
    bottom: 0;
    right: 0;
  }
}
@-webkit-keyframes slide-left {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
@keyframes slide-left {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
@-webkit-keyframes slide-right {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes slide-right {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

@-webkit-keyframes scale {
  from {
    background-size: 80%;
  }
  to {
    background-size: 100%;
  }
}
@keyframes scale {
  from {
    background-size: 80%;
  }
  to {
    background-size: 100%;
  }
}

@-webkit-keyframes slide-btn {
  from {
    height: 0;
  }
  to {
    width: 50px;
  }
}
@keyframes slide-btn {
  from {
    height: 0;
  }
  to {
    height: 50px;
  }
}
//lines box-left
@-webkit-keyframes slide {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes slide {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}